mock==2.0.0
nose==1.3.7
rednose==1.2.3
requests==2.25.1
requests-mock==1.4.0
pytz==2018.5
python-dateutil==2.7.3
-e "git+https://git@github.com/BridgeMarketing/workfront-sdk.git@800d17c484d8c42029a820ca720492554178f787#egg=workfront"
