mock==2.0.0
nose==1.3.7
rednose==1.2.3
requests==2.25.1
requests-mock==1.4.0
pytz==2018.5
python-dateutil==2.7.3
-e "git+https://git@github.com/BridgeMarketing/workfront-sdk.git@01e81f625fde5cb30193b67228c5f544c0d90b15#egg=workfront"